<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title></title>
</head>
<body>
    <div ng-controller="HomeCtrl">
        <ul>
            <li ng-repeat="contact in contacts track by contact.id">
                <span>{{::contact.name}}</span>
            </li>
        </ul>

        <button ng-click="run()">Click me</button>
    </div>

    <script src="angular.js"></script>
    <script src="App.js"></script>
    <script src="HomeCtrl.js"></script>
</body>
</html>
