<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title></title>
</head>
<body>
    <div ng-controller="HomeCtrl">
        <ul>
            <li ng-repeat="contact in contacts">
                <span>{{contact.name}}</span>
            </li>
        </ul>

        <button ng-click="load()">Load Contacts</button>
    </div>

    <script src="require.js"></script>
    <script src="angular.js"></script>
    <script src="App.js"></script>
    <script src="HomeCtrl.js"></script>
    <script src="ContactNewCtrl.js"></script>
</body>
</html>
